* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #8F57FD;
    position: relative;

    .header {
        display: flex;
        justify-content: flex-end;       

        .header__profile {
            width: 60px;
            margin-right: 4%;
            // position: relative;
            // top: -680px;

            .header__profile--img {
                width: inherit;
                border-radius: 50%;
                padding: 15% 0;
            }
        }

        .header__welcome {
            display: none;
        }

        .header__menu {
            height: 15.625vw;
            width: 100%;        
            // border: 1px solid #000000;
            position: fixed;
            bottom: 0;
            z-index: 300;
            background-color: #8F57FD;

            .header__menu--list {
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .item {
                    list-style: none;
                    cursor: pointer;

                    .item__container {
                        text-align: center;

                        .item__container--text {
                            font-size: 3.125vw;
                            color: #ffffff;
                        }

                        .fas {
                            font-size: 6.2vw;
                            color: #ffffff;
                        }
                    }

                    .two {
                        width: 15.625vw;
                        height: 15.625vw;
                        border: 1px solid #21C08B;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        position: relative;
                        top: -3.125vw;
                        background-color: #21C08B;
                    }
                }

                .item-modal {
                    z-index: 600;
                }
            }

            .header__menu--options {
                position: fixed;
                top: 0;
                width: 100%;
                height: 100vh;
                background: rgba(34,34,34,0.75);
                z-index: 500;
    
                .options-incomes {
                    width: 15.625vw;
                    height: 15.625vw;
                    background: #ffffff;
                    border-radius: 50%;
                    position: absolute;
                    top: 75vh;
                    left: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .fa-arrow-circle-up {
                        font-size: 5.6vw;
                        color: #21C08B;
                    }
                }
    
                .options-expenses {
                    width: 15.625vw;
                    height: 15.625vw;
                    background: #ffffff;
                    border-radius: 50%;
                    position: absolute;
                    top: 75vh;
                    left: 58%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .fa-arrow-circle-down {
                        font-size: 5.6vw;
                        color: #F12972;
                    }
                }
            }
        }

        
    }

    .main {

        .main__balance {
            padding-top: 6.375vw;

            .main__balance--complete {
                text-align: center;

                .title-balance {
                    color: #ffffff;
                    font-size: 7.8125vw;

                }

                .text-balance {
                    color: #ffffff;
                    font-size: 6.25vw;
                    margin-top: 15px;
                }
            }

            .main__balance--actions {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                padding: 0 5%;

                .incomes {

                    .incomes__container {
                        display: flex;

                        .incomes__container--button {
                            width: 15.625vw;
                            height: 15.625vw;
                            background-color: #21C08B;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 1.33vw;
                        
                            .fa-arrow-up {
                                color: #ffffff;
                                font-size: 4.375vw;
                            }
                        }
                    }

                    .incomes__container--text {

                        .incomes-title {
                            color: #ffffff;
                            font-size: 5vw;
                        }

                        .incomes-value {
                            color: #21C08B;
                            font-weight: bold;
                            font-size: 5.625vw;
                        }
                    }
                }

                .expenses {

                    .expenses__container {
                        display: flex;                        

                        .expenses__container--button {
                            width: 15.625vw;
                            height: 15.625vw;
                            background-color: #F12972;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 1.33vw;

                            .fa-arrow-down {
                                color: #ffffff;
                                font-size: 4.375vw;
                            }
                        }

                        .expenses__container--text {

                            .expenses-title {
                                color: #ffffff;
                                font-size: 5vw;
                            }

                            .expenses-value {
                                color: #F12972;
                                font-weight: bold;
                                font-size: 5.625vw;
                            }

                        }
                    }
                }
            }
        }

        .main__registers {
            margin-top: 100px;

            .main__registers--title {
                margin-bottom: 8.66vw;
                text-align: center;

                .actions-title {
                    color: #ffffff;
                    font-size: 6vw;
                }
            }

            .main__registers--buttons {
                display: none;
            }

            .main__registers--container {

                .menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 15.625vw;
                    border: 1px solid rgba(255,255,255,.5);
                    border-bottom: 1px solid rgba(255,255,255,.5);
                    
                    .menu__container {
                        display: flex;
                        align-items: center;

                        &:nth-child(0n + 1) {
                            // background-color: brown;
                            padding-left: 4vw;
                        }
                        &:nth-child(0n + 2) {
                            position: relative;
                            right: -3.5vw;
                        }
                        &:nth-child(0n + 3) {
                            position: relative;
                            right: -3vw;
                        } 
                        &:nth-child(0n + 4) {
                            position: relative;
                            right: -2vw;
                        }                         
                        
                        .menu__container--title {
                            color: #ffffff;
                            margin-right: 0.6vw;
                            font-size: 3.7vw;
                        }
        
                        .menu__container--icon {
                            color: #ffffff;
                            transform: rotate(90deg);

                            .fa-exchange-alt {
                                font-size: 3.75vw;
                            }
                        }
                    }
                }

                .items-register {
                    margin-bottom: 15.625vw;
                    position: relative;

                    .register {
                        border: 1px solid rgba(255,255,255,.5);
                        border-top: unset;
                        padding: 4vw 0;
                        padding-left: 1.33vw;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        .register__concept {
                            font-size: 3.2vw;
                            color: #ffffff;
                            width: 29.33vw;
                         }
         
                        .register__amount {
                            font-size: 3.2vw;
                            color: #ffffff;
                            position: relative;
                            left: -4.66vw;
                            width: 20vw;
                            text-align: center;
                        }
    
                        .register__date {
                            font-size: 3.2vw;
                            color: #ffffff;
                            width: 18vw;
                            position: relative;
                            left: -5.33vw;
                            text-align: center;
                        }
    
                        .register__movement-type {
                            font-size: 3.2vw;
                            color: #ffffff;
                            position: relative;
                            left: -7vw;
                        }                   
        
                        .register__options {
                            position: relative;
                            left: -3.75vw;
                            color: rgba(255,255,255,0.50);
        
                            .fa-ellipsis-h {
                                font-size: 5.33vw;
                            }
                        }
                    }

                    .items-register__default {
                        text-align: center;
                        margin-bottom: 50px;

                        .items-register__default--img {
                            margin-bottom: 30px;
                        }

                        .items-register__default--text {
                            width: 250px;
                            margin: 0 auto;
                            color: #ffffff;
                            font-size: 22px;
                        }
                    }

                    .register-edit {
                        position: relative;

                        .register-modal {
                            width: 21.33vw;
                            line-height: 40px;
                            border: 1px solid #ffffff;
                            position: absolute;
                            top: 65%;
                            left: 75%;
                            background: #ffffff;

                            .register-modal__menu {
                                text-align: center;

                                .register-modal__menu--list {
                                    list-style: none;
                                    color: #8F57FD;
                                    font-weight: bold;
                                    font-size: 3.2vw;
                                }
                            }
                        }
                    }
                    
                }
            }

            
        }

        .main__modal {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            z-index: 400;
            background: rgba(143,87,253, 1);

            .main__modal--container {
                width: 100%;
                height: inherit;
                position: fixed;
                padding-top: 40vw;
                display: flex;
                flex-direction: column;

                .fa-times {
                    align-self: flex-end;
                    margin-right: 5%;
                    font-size: 22px;
                    color: #ffffff;
                    cursor: pointer;
                }

                .text-modal {
                    width: 80%;
                    color: #ffffff;
                    margin: 30px auto;
                    text-align: center;
                }

                .data-modal {
                    width: 100%;
                    height: 50px;
                    border: 1px solid #ffffff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 12%;

                    .data-modal__text {
                        color: #ffffff;
                    }

                    .data-modal__info {
                        line-height: 50px;
                        background: transparent;
                        border-left: 1px solid #ffffff;
                        padding-left: 8px;
                        outline-style: none;
                        color: #ffffff;
                        &::placeholder {
                            color: rgba(255,255,255,.8);

                        }
                    }
                }

                .button-modal {
                    width: 150px;
                    line-height: 40px;
                    margin: 0 auto;
                    margin-top: 30px;
                    border-radius: 20px;
                    background: #21C08B;
                    color: #ffffff;
                    cursor: pointer;
                }
            }

        }

        
    }
}
//99

@media screen and (min-width: 1000px) {

    body {

        .header {
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            padding-top: 2%;

            .header__profile {
                margin: unset;
                width: 80px;
                display: flex;
            }

            .header__welcome {
                display: block;
                margin-right: 180px;

                .header__welcome--text {
                    color: #ffffff;
                    font-size: 26px;
                }
            }

            .header__menu {
                position: unset;
                width: unset;
                height: unset;

                .header__menu--list {
                    justify-content: unset;

                    .item {

                        .item__container {

                            .fas {
                                display: none;
                            }
    
                            .item__container--text {
                                font-size: 26px;
                            }
                        }
                    }

                    .home {
                        margin-right: 50px;
                    }

                    .item-two {
                        display: none;
                    }
                }
            }
        }

        .main {
            margin-bottom: 100px;

            .main__balance {

                .main__balance--complete {

                    .title-balance {
                        font-size: 30px;
                    }

                    .text-balance {
                        font-size: 25px;
                    }
                }

                .main__balance--actions {
                    padding: 0 15%;

                    .incomes {
                        
                        .incomes__container {

                            .incomes__container--button {
                                width: 80px;
                                height: 80px;

                                .fas {
                                    font-size: 33px;
                                }
                            }

                            .incomes__container--text {
                                padding-top: 5%;
                                
                                .incomes-title {
                                    font-size: 22px;
                                }

                                .incomes-value {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .expenses {

                        .expenses__container {

                            .expenses__container--button {
                                width: 80px;
                                height: 80px;

                                .fas {
                                    font-size: 33px;
                                }
                            }

                            .expenses__container--text {
                                padding-top: 5%;
                                
                                .expenses-title {
                                    font-size: 22px;
                                }

                                .expenses-value {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .main__registers {

                .main__registers--title {
                    padding-left: 20px;
                    margin: 0;
                    
                    .actions-title {
                        font-size: 30px;
                        text-align: left;
                    }
                }

                .main__registers--buttons {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 50px;

                    .button-export {
                        width: 150px;
                        line-height: 40px;
                        background: #21C08B;
                        margin-right: 25px;
                        text-align: center;
                        cursor: pointer;
                        

                        .button-export__text {
                            color: #ffffff;
                            font-size: 14px;
                        }
                    }

                    .button-incomes {
                        width: 150px;
                        line-height: 40px;
                        background: #21C08B;
                        margin-right: 25px;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.3);
                            
                            .button-incomes__text {
                                color: rgba(34, 34, 34, 0.75);
                            }
                        }

                        .button-incomes__text {
                            color: #ffffff;
                            font-size: 14px;
                        }
                    }

                    .button-expenses {
                        width: 150px;
                        line-height: 40px;
                        background: #21C08B;
                        margin-right: 25px;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.3);
                            
                            .button-expenses__text {
                                color: rgba(34, 34, 34, 0.75);
                            }
                        }

                        .button-expenses__text {
                            color: #ffffff;
                            font-size: 14px;
                        }
                    }
                }

                .main__registers--container {

                    .menu {
                        height: 66.25px;

                        .menu__container {

                            &:nth-child(0n + 1) {
                                padding-left: 2vw;
                            }
                            &:nth-child(0n + 2) {
                                right: -5.5vw;
                            }
                            &:nth-child(0n + 3) {
                                right: -5vw;
                            } 
                            &:nth-child(0n + 4) {
                                right: -3vw;
                            }
                            &:nth-child(0n + 5) {
                                margin-right: 2.5vw;

                                .menu__container--title {
                                    margin: 0;
                                }

                            } 

                            .menu__container--title {
                                font-size: 24px;
                            }
                            
                            .menu__container--icon {
                                
                                .fa-exchange-alt {
                                    font-size: 21px;
                                }
                            }
                        }
                    }

                    .items-register {
                        margin: 0;

                        .register {
                            padding: 20px 0;
                            padding-left: 15px;

                            .register__concept {
                                font-size: 20px;
                            }

                            .register__amount {
                                font-size: 20px;
                                left: -10.66vw;
                            }

                            .register__date {
                                font-size: 20px;
                                left: -13.33vw;
                            }

                            .register__movement-type {
                                font-size: 20px;
                                left: -13vw;
                            }

                            .register__options {
                                left: -3.75vw;

                                .fas {
                                    font-size: 23.3px;
                                }
                            }
                        }
                        
                        .items-register__default {
    
                            .items-register__default--text {
                                width: 250px;
                                font-size: 22px;
                            }
                        }

                        .register-edit {

                            .register-modal {
    
                                .register-modal__menu {
                                    cursor: pointer;
    
                                    .register-modal__menu--list {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .main__modal {
                
    
                .main__modal--container {
                    padding-top: 150px;
                    overflow: hidden;
                    background: #8F57FD;
    
                    .fa-times {
                        font-size: 35px;
                    }
    
                    .text-modal {
                        font-size: 25px;
                    }
    
                    .data-modal {
                        width: 52%;
                        margin: 0 auto;
    
                        .data-modal__text {
                            margin-right: 110px;
                        }
    
                        .data-modal__info {
                            padding-left: 50px;
                        }
                    }
    
                    .button-modal {
                        width: 250px;
                        line-height: 50px;
                        border-radius: 40px;
                    }
                }
    
            }
        }
    }

}