* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #8F57FD;

    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100px;

        .profile__container {
            width: 60px;
            height: 70px;
            margin-right: 4%;

            .profile__container--img {
                width: inherit;
                border-radius: 50%;
                padding: 10% 0;
            }
        }
    }

    .header {
        width: 100%;        
        // border: 1px solid #000000;
        position: fixed;
        bottom: 0;
        z-index: 300;
        background-color: #8F57FD;

        .header__menu {
            height: 15.625vw;

            .header__menu--list {
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .item {
                    list-style: none;

                    .item__container {
                        text-align: center;

                        .item__container--text {
                            font-size: 3.125vw;
                            color: #ffffff;
                        }

                        .fas {
                            font-size: 6.2vw;
                            color: #ffffff;
                        }
                    }

                    .two {
                        width: 15.625vw;
                        height: 15.625vw;
                        border: 1px solid #21C08B;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        position: relative;
                        top: -3.125vw;
                        background-color: #21C08B;
                    }
                }
            }
        }
    }

    .main {

        .main__balance {
            padding-top: 6.375vw;

            .main__balance--complete {
                text-align: center;

                .title-balance {
                    color: #ffffff;
                    font-size: 7.8125vw;

                }

                .text-balance {
                    color: #ffffff;
                    font-size: 6.25vw;
                    margin-top: 15px;
                }
            }

            .main__balance--actions {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                padding: 0 5%;

                .incomes {

                    .incomes__container {
                        display: flex;

                        .incomes__container--button {
                            width: 15.625vw;
                            height: 15.625vw;
                            background-color: #21C08B;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 5px;
                        
                            .fa-arrow-up {
                                color: #ffffff;
                                font-size: 4.375vw;
                            }
                        }
                    }

                    .incomes__container--text {

                        .incomes-title {
                            color: #ffffff;
                            font-size: 5vw;
                        }

                        .incomes-value {
                            color: #21C08B;
                            font-weight: bold;
                            font-size: 5.625vw;
                        }
                    }
                }

                .expenses {

                    .expenses__container {
                        display: flex;                        

                        .expenses__container--button {
                            width: 15.625vw;
                            height: 15.625vw;
                            background-color: #F12972;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 5px;

                            .fa-arrow-down {
                                color: #ffffff;
                                font-size: 4.375vw;
                            }
                        }

                        .expenses__container--text {

                            .expenses-title {
                                color: #ffffff;
                                font-size: 5vw;
                            }

                            .expenses-value {
                                color: #F12972;
                                font-weight: bold;
                                font-size: 5.625vw;
                            }

                        }
                    }
                }
            }
        }

        .main__registers {
            margin-top: 100px;

            .main__registers--container {

                .menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 15.625vw;
                    border: 1px solid rgba(255,255,255,.5);
                    border-bottom: 1px solid rgba(255,255,255,.5);
                    
                    .menu__container {
                        display: flex;
                        align-items: center;

                        &:nth-child(0n + 1) {
                            // background-color: brown;
                            padding-left: 4vw;
                        }
                        &:nth-child(0n + 2) {
                            position: relative;
                            right: -3.5vw;
                        }
                        &:nth-child(0n + 3) {
                            position: relative;
                            right: -3vw;
                        } 
                        &:nth-child(0n + 4) {
                            position: relative;
                            right: -2vw;
                        }                         
                        
                        .menu__container--title {
                            color: #ffffff;
                            margin-right: 0.6vw;
                            font-size: 3.7vw;
                        }
        
                        .menu__container--icon {
                            color: #ffffff;
                            transform: rotate(90deg);

                            .fa-exchange-alt {
                                font-size: 3.75vw;
                            }
                        }
                    }
                }

                .items-register {

                    .register {
                        border: 1px solid rgba(255,255,255,.5);
                        border-top: unset;
                        padding: 4vw 0;
                        padding-left: 1.33vw;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        .register__concept {
                            font-size: 3.2vw;
                            color: #ffffff;
                            width: 29.33vw;
                         }
         
                        .register__amount {
                            font-size: 3.2vw;
                            color: #ffffff;
                            position: relative;
                            left: -4.66vw;
                            width: 20vw;
                            text-align: center;
                        }
    
                        .register__date {
                            font-size: 3.2vw;
                            color: #ffffff;
                            width: 16vw;
                            position: relative;
                            left: -5.33vw;
                        }
    
                        .register__movement-type {
                            font-size: 3.2vw;
                            color: #ffffff;
                            position: relative;
                            left: -7vw;
                        }                   
        
                        .register__options {
                            position: relative;
                            left: -3.75vw;
                            color: rgba(255,255,255,0.50);
        
                            .fa-ellipsis-h {
                                font-size: 5.33vw;
                            }
                        }
                    }
                }
            }

            
        }

        
    }
}