* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #8F57FD;
  position: relative;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .header .header__profile {
  width: 60px;
  margin-right: 4%;
}

body .header .header__profile .header__profile--img {
  width: inherit;
  border-radius: 50%;
  padding: 15% 0;
}

body .header .header__welcome {
  display: none;
}

body .header .header__menu {
  height: 15.625vw;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 300;
  background-color: #8F57FD;
}

body .header .header__menu .header__menu--list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .header .header__menu .header__menu--list .item {
  list-style: none;
  cursor: pointer;
}

body .header .header__menu .header__menu--list .item .item__container {
  text-align: center;
}

body .header .header__menu .header__menu--list .item .item__container .item__container--text {
  font-size: 3.125vw;
  color: #ffffff;
}

body .header .header__menu .header__menu--list .item .item__container .fas {
  font-size: 6.2vw;
  color: #ffffff;
}

body .header .header__menu .header__menu--list .item .two {
  width: 15.625vw;
  height: 15.625vw;
  border: 1px solid #21C08B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: relative;
  top: -3.125vw;
  background-color: #21C08B;
}

body .main .main__balance {
  padding-top: 6.375vw;
}

body .main .main__balance .main__balance--complete {
  text-align: center;
}

body .main .main__balance .main__balance--complete .title-balance {
  color: #ffffff;
  font-size: 7.8125vw;
}

body .main .main__balance .main__balance--complete .text-balance {
  color: #ffffff;
  font-size: 6.25vw;
  margin-top: 15px;
}

body .main .main__balance .main__balance--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding: 0 5%;
}

body .main .main__balance .main__balance--actions .incomes .incomes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .main__balance .main__balance--actions .incomes .incomes__container .incomes__container--button {
  width: 15.625vw;
  height: 15.625vw;
  background-color: #21C08B;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.33vw;
}

body .main .main__balance .main__balance--actions .incomes .incomes__container .incomes__container--button .fa-arrow-up {
  color: #ffffff;
  font-size: 4.375vw;
}

body .main .main__balance .main__balance--actions .incomes .incomes__container--text .incomes-title {
  color: #ffffff;
  font-size: 5vw;
}

body .main .main__balance .main__balance--actions .incomes .incomes__container--text .incomes-value {
  color: #21C08B;
  font-weight: bold;
  font-size: 5.625vw;
}

body .main .main__balance .main__balance--actions .expenses .expenses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--button {
  width: 15.625vw;
  height: 15.625vw;
  background-color: #F12972;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.33vw;
}

body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--button .fa-arrow-down {
  color: #ffffff;
  font-size: 4.375vw;
}

body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--text .expenses-title {
  color: #ffffff;
  font-size: 5vw;
}

body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--text .expenses-value {
  color: #F12972;
  font-weight: bold;
  font-size: 5.625vw;
}

body .main .main__registers {
  margin-top: 100px;
}

body .main .main__registers .main__registers--title {
  margin-bottom: 8.66vw;
  text-align: center;
}

body .main .main__registers .main__registers--title .actions-title {
  color: #ffffff;
  font-size: 6vw;
}

body .main .main__registers .main__registers--buttons {
  display: none;
}

body .main .main__registers .main__registers--container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15.625vw;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

body .main .main__registers .main__registers--container .menu .menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 1) {
  padding-left: 4vw;
}

body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 2) {
  position: relative;
  right: -3.5vw;
}

body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 3) {
  position: relative;
  right: -3vw;
}

body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 4) {
  position: relative;
  right: -2vw;
}

body .main .main__registers .main__registers--container .menu .menu__container .menu__container--title {
  color: #ffffff;
  margin-right: 0.6vw;
  font-size: 3.7vw;
}

body .main .main__registers .main__registers--container .menu .menu__container .menu__container--icon {
  color: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .main .main__registers .main__registers--container .menu .menu__container .menu__container--icon .fa-exchange-alt {
  font-size: 3.75vw;
}

body .main .main__registers .main__registers--container .items-register .register {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: unset;
  padding: 4vw 0;
  padding-left: 1.33vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .main__registers .main__registers--container .items-register .register .register__concept {
  font-size: 3.2vw;
  color: #ffffff;
  width: 29.33vw;
}

body .main .main__registers .main__registers--container .items-register .register .register__amount {
  font-size: 3.2vw;
  color: #ffffff;
  position: relative;
  left: -4.66vw;
  width: 20vw;
  text-align: center;
}

body .main .main__registers .main__registers--container .items-register .register .register__date {
  font-size: 3.2vw;
  color: #ffffff;
  width: 18vw;
  position: relative;
  left: -5.33vw;
  text-align: center;
}

body .main .main__registers .main__registers--container .items-register .register .register__movement-type {
  font-size: 3.2vw;
  color: #ffffff;
  position: relative;
  left: -7vw;
}

body .main .main__registers .main__registers--container .items-register .register .register__options {
  position: relative;
  left: -3.75vw;
  color: rgba(255, 255, 255, 0.5);
}

body .main .main__registers .main__registers--container .items-register .register .register__options .fa-ellipsis-h {
  font-size: 5.33vw;
}

body .main .main__registers .main__registers--container .items-register .items-register__default {
  text-align: center;
  margin-bottom: 50px;
}

body .main .main__registers .main__registers--container .items-register .items-register__default .items-register__default--img {
  margin-bottom: 30px;
}

body .main .main__registers .main__registers--container .items-register .items-register__default .items-register__default--text {
  width: 250px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 22px;
}

@media screen and (min-width: 1000px) {
  body .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5%;
    padding-top: 2%;
  }
  body .header .header__profile {
    margin: unset;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header .header__welcome {
    display: block;
    margin-right: 18vw;
  }
  body .header .header__welcome .header__welcome--text {
    color: #ffffff;
    font-size: 2.6vw;
  }
  body .header .header__menu {
    position: unset;
    width: unset;
    height: unset;
  }
  body .header .header__menu .header__menu--list {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  body .header .header__menu .header__menu--list .item .item__container .fas {
    display: none;
  }
  body .header .header__menu .header__menu--list .item .item__container .item__container--text {
    font-size: 2.6vw;
  }
  body .header .header__menu .header__menu--list .home {
    margin-right: 5vw;
  }
  body .header .header__menu .header__menu--list .item-two {
    display: none;
  }
  body .main .main__balance .main__balance--complete .title-balance {
    font-size: 3vw;
  }
  body .main .main__balance .main__balance--complete .text-balance {
    font-size: 2.5vw;
  }
  body .main .main__balance .main__balance--actions {
    padding: 0 15%;
  }
  body .main .main__balance .main__balance--actions .incomes .incomes__container .incomes__container--button {
    width: 8vw;
    height: 8vw;
  }
  body .main .main__balance .main__balance--actions .incomes .incomes__container .incomes__container--button .fas {
    font-size: 3.3vw;
  }
  body .main .main__balance .main__balance--actions .incomes .incomes__container .incomes__container--text {
    padding-top: 5%;
  }
  body .main .main__balance .main__balance--actions .incomes .incomes__container .incomes__container--text .incomes-title {
    font-size: 2.2vw;
  }
  body .main .main__balance .main__balance--actions .incomes .incomes__container .incomes__container--text .incomes-value {
    font-size: 2vw;
  }
  body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--button {
    width: 8vw;
    height: 8vw;
  }
  body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--button .fas {
    font-size: 3.3vw;
  }
  body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--text {
    padding-top: 5%;
  }
  body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--text .expenses-title {
    font-size: 2.2vw;
  }
  body .main .main__balance .main__balance--actions .expenses .expenses__container .expenses__container--text .expenses-value {
    font-size: 2vw;
  }
  body .main .main__registers .main__registers--title {
    padding-left: 20px;
    margin: 0;
  }
  body .main .main__registers .main__registers--title .actions-title {
    font-size: 3vw;
    text-align: left;
  }
  body .main .main__registers .main__registers--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 50px;
  }
  body .main .main__registers .main__registers--buttons .button-export {
    width: 15vw;
    line-height: 4vw;
    background: #21C08B;
    margin-right: 2.5vw;
    text-align: center;
    cursor: pointer;
  }
  body .main .main__registers .main__registers--buttons .button-export .button-export__text {
    color: #ffffff;
    font-size: 1.4vw;
  }
  body .main .main__registers .main__registers--buttons .button-incomes {
    width: 15vw;
    line-height: 4vw;
    background: #21C08B;
    margin-right: 2.5vw;
    text-align: center;
    cursor: pointer;
  }
  body .main .main__registers .main__registers--buttons .button-incomes .button-incomes__text {
    color: #ffffff;
    font-size: 1.4vw;
  }
  body .main .main__registers .main__registers--buttons .button-expenses {
    width: 15vw;
    line-height: 4vw;
    background: #21C08B;
    margin-right: 2.5vw;
    text-align: center;
    cursor: pointer;
  }
  body .main .main__registers .main__registers--buttons .button-expenses .button-expenses__text {
    color: #ffffff;
    font-size: 1.4vw;
  }
  body .main .main__registers .main__registers--container .menu {
    height: 6.625vw;
  }
  body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 1) {
    padding-left: 2vw;
  }
  body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 2) {
    right: -5.5vw;
  }
  body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 3) {
    right: -5vw;
  }
  body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 4) {
    right: -3vw;
  }
  body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 5) {
    margin-right: 2.5vw;
  }
  body .main .main__registers .main__registers--container .menu .menu__container:nth-child(0n + 5) .menu__container--title {
    margin: 0;
  }
  body .main .main__registers .main__registers--container .menu .menu__container .menu__container--title {
    font-size: 2.4vw;
  }
  body .main .main__registers .main__registers--container .menu .menu__container .menu__container--icon .fa-exchange-alt {
    font-size: 2.1vw;
  }
  body .main .main__registers .main__registers--container .items-register .register .register__concept {
    font-size: 2vw;
  }
  body .main .main__registers .main__registers--container .items-register .register .register__amount {
    font-size: 2vw;
    left: -8.66vw;
  }
  body .main .main__registers .main__registers--container .items-register .register .register__date {
    font-size: 2vw;
    left: -11.33vw;
  }
  body .main .main__registers .main__registers--container .items-register .register .register__movement-type {
    font-size: 2vw;
    left: -11vw;
  }
  body .main .main__registers .main__registers--container .items-register .register .register__options {
    left: -4.75vw;
  }
  body .main .main__registers .main__registers--container .items-register .register .register__options .fas {
    font-size: 2.33vw;
  }
  body .main .main__registers .main__registers--container .items-register .items-register__default .items-register__default--text {
    width: 25vw;
    font-size: 2.2vw;
  }
}
/*# sourceMappingURL=index.css.map */