body {

    .main {

        .main__profile {

            .main__profile--img {
                width: 120px;
                height: 120px;
                margin: 0 auto;
                margin-top: 35px;

                .my-image {
                    width: inherit;
                    height: inherit;
                    border-radius: 50%;
                }
            }

            .main__profile--text {
                text-align: center;
                margin: 20px 0;

                .name {
                    font-size: 18px;
                    margin-bottom: 5px;
                    color: #ffffff;
                }

                .question {
                    color: #ffffff;
                }
            }

            .main__profile--restore {
                display: flex;
                justify-content: space-evenly;
                margin-top: 80px;

                .data {
                    width: 98px;
                    height: 60px;
                    background: #21C08B;
                    border-radius: 5px;
                    text-align: center;

                    .data__update {
                        width: inherit;
                        height: inherit;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: #ffffff;
                    }
                }

                .password {                    
                    width: 87px;
                    height: 60px;
                    background: #21C08B;
                    border-radius: 5px;
                    text-align: center;

                    .password__update {
                        width: inherit;
                        height: inherit;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: #ffffff;
                    }
                }

                .image {
                    width: 95px;
                    height: 60px;
                    background: #21C08B;
                    border-radius: 5px;
                    text-align: center;                    

                    .image__update {
                        width: inherit;
                        height: inherit;
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 0 10px;
                    }
                }
            }
        }

        .main__data {
            width: 100%;
            position: fixed;
            top: 0;
            background-color: red;
            height: 100vh;
            z-index: 2000;
            background: rgba(34, 34, 34, 0.55);
            

            .main__data--update {
                display: flex;
                flex-direction: column;
                height: 400px;
                width: 85%;
                border: 2px  solid white;
                border-radius: 40px;
                padding: 30px 40px 40px;
                color: white;
                margin: 0 auto;
                margin-top: 130px;
                background: #8F57FD;

                .icon {
                    align-self: flex-end;

                    .fa-times-circle {
                        font-size: 35px;
                    }                    
                }

                .title {
                    margin: 30px auto;
                    text-align: center;
                }

                .form {
                    display: flex;
                    flex-direction: column;

                    .input {
                        background: transparent;
                        color: white;
                        border-bottom: 2px solid white;
                        padding-left: 10px;
                        font-size: 14px;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        outline: none;
                        &::placeholder {
                            color: white;
                        }
                    }

                    .form__send {
                        height: 50px;
                        background-color: rgba(255, 255, 255, .1);
                        border-radius: 40px;
                        font-size: 16px;
                        color: white;
                        cursor: pointer;
                        margin-top: 20px;
                        outline-style: none;
                    }
                }
            }
        }
    }
    
}


@media screen and (min-width: 1000px) {

    body {

        .header {

            .header__menu {

                .header__menu--list {

                    .item {

                        .home {

                            .fas {
                                display: block;
                                font-size: 45px;
                            }
                        }
                    }
                }
            }
        }

        .main__profile {

            .main__profile--text {

                .name {
                    font-size: 30px !important;
                }

                .question {
                    font-size: 25px;
                }
            }

            .main__profile--restore {

                .data {
                    width: 175px !important;
                    cursor: pointer;

                    .data__update {
                        justify-content: center !important;
                        font-size: 1em !important;
                    }
                }

                .password {
                    width: 175px !important;
                    cursor: pointer;

                    .password__update {
                        justify-content: center !important;
                        font-size: 1em !important;
                    }
                }

                .image {     
                    width: 175px !important;         
                    cursor: pointer;  

                    .image__update {
                        justify-content: center !important;
                        font-size: 1em !important;
                    }
                }
            }
        }

        .main__data {            

            .main__data--update {
                width: 70% !important;

                .icon {
                    cursor: pointer;                  
                }

                .form {
                    width: 450px;
                    margin: 0 auto;
                    margin-top: 30px;
                }
            }
        }
    }
}