body .main .main__profile .main__profile--img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 35px;
}

body .main .main__profile .main__profile--img .my-image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

body .main .main__profile .main__profile--text {
  text-align: center;
  margin: 20px 0;
}

body .main .main__profile .main__profile--text .name {
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
}

body .main .main__profile .main__profile--text .question {
  color: #ffffff;
}

body .main .main__profile .main__profile--restore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 80px;
}

body .main .main__profile .main__profile--restore .data {
  width: 98px;
  height: 60px;
  background: #21C08B;
  border-radius: 5px;
  text-align: center;
}

body .main .main__profile .main__profile--restore .data .data__update {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #ffffff;
}

body .main .main__profile .main__profile--restore .password {
  width: 87px;
  height: 60px;
  background: #21C08B;
  border-radius: 5px;
  text-align: center;
}

body .main .main__profile .main__profile--restore .password .password__update {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #ffffff;
}

body .main .main__profile .main__profile--restore .image {
  width: 95px;
  height: 60px;
  background: #21C08B;
  border-radius: 5px;
  text-align: center;
}

body .main .main__profile .main__profile--restore .image .image__update {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 12px;
  color: #ffffff;
  padding: 0 10px;
}

body .main .main__data {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: red;
  height: 100vh;
  z-index: 2000;
  background: rgba(34, 34, 34, 0.55);
}

body .main .main__data .main__data--update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  width: 85%;
  border: 2px  solid white;
  border-radius: 40px;
  padding: 30px 40px 40px;
  color: white;
  margin: 0 auto;
  margin-top: 130px;
  background: #8F57FD;
}

body .main .main__data .main__data--update .icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .main .main__data .main__data--update .icon .fa-times-circle {
  font-size: 35px;
}

body .main .main__data .main__data--update .title {
  margin: 30px auto;
  text-align: center;
}

body .main .main__data .main__data--update .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .main__data .main__data--update .form .input {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  outline: none;
}

body .main .main__data .main__data--update .form .input::-webkit-input-placeholder {
  color: white;
}

body .main .main__data .main__data--update .form .input:-ms-input-placeholder {
  color: white;
}

body .main .main__data .main__data--update .form .input::-ms-input-placeholder {
  color: white;
}

body .main .main__data .main__data--update .form .input::placeholder {
  color: white;
}

body .main .main__data .main__data--update .form .form__send {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  outline-style: none;
}

@media screen and (min-width: 1000px) {
  body .header .header__menu .header__menu--list .item .home .fas {
    display: block;
    font-size: 45px;
  }
  body .main__profile .main__profile--text .name {
    font-size: 30px !important;
  }
  body .main__profile .main__profile--text .question {
    font-size: 25px;
  }
  body .main__profile .main__profile--restore .data {
    width: 175px !important;
    cursor: pointer;
  }
  body .main__profile .main__profile--restore .data .data__update {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    font-size: 1em !important;
  }
  body .main__profile .main__profile--restore .password {
    width: 175px !important;
    cursor: pointer;
  }
  body .main__profile .main__profile--restore .password .password__update {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    font-size: 1em !important;
  }
  body .main__profile .main__profile--restore .image {
    width: 175px !important;
    cursor: pointer;
  }
  body .main__profile .main__profile--restore .image .image__update {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    font-size: 1em !important;
  }
  body .main__data .main__data--update {
    width: 70% !important;
  }
  body .main__data .main__data--update .icon {
    cursor: pointer;
  }
  body .main__data .main__data--update .form {
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=profile.css.map */